.services {

    h1 {
        background-color: $navyBlue;
        color: white;
        width: fit-content;
        padding: 5px 15px;
        border-radius: 7px;

    }

    .service_section {

        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        &:nth-child(odd) {
            flex-direction: row-reverse;

            @media(max-width:$tablet-v) {
                flex-direction: column;
            }
        }

        @media(max-width:$tablet-v) {
            flex-direction: column;
        }

        &__left {
            width: 46%;

            @media(max-width:$tablet-v) {
                width: 100%;
            }

            p {
                font-family: "Space Grotesk", serif;
            }

        }

        &__right {
            width: 46%;

            @media(max-width:$tablet-v) {
                width: 100%;
            }

            img {
                display: block;
                margin: 0 0 0 auto;
                width: 100%;
                height: auto;
            }
        }

        &__service {

            display: flex;
            flex-direction: column;
        }
    }

    .service_accordion {
        margin-bottom: 10px;
        background-color: $navyBlue;
        padding: 10px 20px;
        border-radius: 17px;





        &__top {
            text-align: center;
            color: white;
            padding: 10px 10px 10px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 0px;
                right: 10px;
                width: 40px;
                height: 40px;
                background-image: url("data:image/svg+xml,%0A%3Csvg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' stroke='%23FFFFFF'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'/%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M5.70711 9.71069C5.31658 10.1012 5.31658 10.7344 5.70711 11.1249L10.5993 16.0123C11.3805 16.7927 12.6463 16.7924 13.4271 16.0117L18.3174 11.1213C18.708 10.7308 18.708 10.0976 18.3174 9.70708C17.9269 9.31655 17.2937 9.31655 16.9032 9.70708L12.7176 13.8927C12.3271 14.2833 11.6939 14.2832 11.3034 13.8927L7.12132 9.71069C6.7308 9.32016 6.09763 9.32016 5.70711 9.71069Z' fill='%23FFFFFF'/%3E%3C/g%3E%3C/svg%3E");
                background-size: cover;
                background-repeat: no-repeat;
                transform: rotate(180deg);
                transition: 0.5s ease;


            }

            h3 {
                font-size: 20px;
                font-family: "Space Grotesk", serif;
                font-weight: 500;
                margin: 0;
            }

        }

        &__content {
            
            padding: 10px;
            border-radius: 0px 0px 17px 17px;
            color:white
        }

    }

    .service_accordion.active {


        .service_accordion__top {
            &::after {
                transition: 0.5s ease;
                transform: rotate(0deg) translate(0%, 0%);
            }
        }
    }
}