.team{
 
    h2{
      
        background-color: #0c3076;
     
        width: fit-content;
    }
  &__introduction{
    margin-bottom: 50px;
    display: flex;
    @media(max-width:$tablet-v){
        flex-direction: column;
    }
    h2{
        margin: 0;
        height: fit-content;
        color: #fff;
        padding: 5px 2px;
        border-radius: 7px;
        @media(max-width: $tablet-v){
            font-size: 36px;
            margin: 0 0 30px;
        }
    }
    p{
        width: 60%;
        font-size: 16px;
        margin: 0 auto;
        font-family: "Space Grotesk", serif;
        font-weight: lighter;
        @media(max-width: $tablet-v){
            margin: 0 0 30px;
            width: 100%;
        }
    }
  }
    .member{
        &__picture{
         box-shadow: 5px 3px 9px -5px #000000;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          justify-content: space-between;
          width: calc(50% - 10px);
            padding: 20px 15px;
            margin-bottom: 20px;
            border-radius: 10px;
         @media(max-width:$tablet-v){
         
            width: calc(100%);
         }
            
         
            img{

                margin: auto;
                border-radius: 50%;
                opacity: 0.5;
            }
        }
        &__picture_left{
            display: block;
            width: 45%;
            img{
                width: 100%;
                height: auto;
            }
         
        }
        &__picture_right{
            display: block;
            width:  45%;
          
        }
        &__content{
            padding: 50px;
            width: 100%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @media(max-width: $tablet-v){
                flex-direction: column;
                padding: 0;
            }

        }

    }
    .work_with_us{

        margin-bottom: 50px;
    }
}