.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff;
    color: white;
    padding: 1rem;
    transition: opacity 0.8s ease, transform 0.8s ease, visibility 0.8s ease;
    z-index: 9;
    box-sizing: border-box;
    // box-shadow:0px 0px 10px 0px rgba(0,0,0,0.49) ;

    @media(max-width:$tablet-v) {
        flex-direction: column;
        padding-left: 70px;
        align-items: start;

    }

    &__logo {
        img {
            width: 200px;
            height: auto;

            @media(max-width:$tablet-v) {
                width: 125px;

            }
        }
    }

    &__toogle {
        display: none;
        flex-direction: column;
        padding: 5px 5px;
        position: absolute;
        top: 35px;
        left: 20px;
        cursor: pointer;
@media(max-width:$tablet-v){
    display: flex;
}
        span {
            display: block;
            width: 20px;
            height: 3px;

            &:not(:last-child) {
                margin-bottom: 5px;
            }

            background-color: #000;
        }
    }

    &__menu {
        display: flex;

        @media(max-width:$tablet-v) {
            flex-direction: column;
            width: 100%;
        }

        &.hidden {
            display: none;
        }
    }

    &__bar_link{
        @media(max-width: $tablet-v) {
            text-align: center;
            padding: 10px 10px;
            width: 100%;
            &:hover {
                // background-color: #B9FF66;
            }
        }
svg{
    position: relative;
  top: 3px;
  left: 3px;
}
    }
    &__bar {

        padding-left: 20px;
        display: flex;
        width: 100%;
        position: relative;
        padding-right: 20px;
        @media(max-width:$tablet-v) {
            flex-direction: column;
            align-items: start;

        }

        li {
          
            list-style: none;
            font-size: 20px;
            font-weight: 500;
            font-family: "Space Grotesk", serif;
            font-weight: lighter;
            &:not(:last-child){
                margin-right: 40px;
            }
        
         
        }

        a {
            color: black;
            text-decoration: none;
            font-size: 20px;
            @media(max-width:$tablet-h){
                font-size: 15px;
            }
        }
    }

    &__sub-menu {
        padding-bottom: 30px;
        position: absolute;
        right: -71px;
        display: flex;
        background-color: #fff;
      
        width: 100vw;
        top: 66px;
      
        @media (max-width:$tablet-h){
            width: 700px;
        }
        @media(max-width:$tablet-v){
            position: static;
            width: 100%;
            flex-direction: column;
        }

        img {
            width: 100%;
            height: auto;
            margin-bottom: 20px;
            @media(max-width:$tablet-v){
                display: none;
            }
        
        }

        li {
            width: 33.3%;
            margin-bottom: 5px;
            list-style: none;
            @media(max-width:$tablet-v){
                width: 100%;

            }

            a {
                color: black;
             
            }
        }
    }

    &__lang {
        display: flex;
        justify-content: center;
        align-items: center;

        img {

            &:first-child {
                margin-right: 23px;
            }

            @media(max-width:$tablet-v) {
                width: 50px;
                height: auto;
            }
        }
    }
}

.nav.hidden {
opacity: 0;
    transform: translateY(-150px);
    visibility: visible;
    @media(max-width:$tablet-v){
        visibility: initial;
        position: static;
        opacity: 1;
        transform: translateY(0);

    }
    
}

.nav.visible {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    @media(max-width:$tablet-v){
        visibility: initial;
        position: static;

    }
   
   
}
.nav__bar_link.rotation{
    svg{
        transform: rotate(180deg);
        transition: ease 0.4s;
    }
}

// .nav {
//     position: fixed;
//     top: 0;
//     left: 0;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     background-color: aqua;
//     width: 100%;

//     &__logo {
//         img {
//             width: 200px;
//             height: auto;
//         }
//     }

//     &__sub-menu {
//         position: absolute;
//         left: 0;
//         display: flex;
//         background-color: #fff;
//         padding: 50px 20px;
//         img{
//             margin-bottom: 20px;
//         }

//         li{
//             margin-bottom: 5px;
//         }
//     }

//     &__bar {

//         padding-left: 20px;
//         display: flex;
//         width: 100%;
//         position:relative;

//         li {
//             margin-right: 40px;
//         }
//     }

//     &__menu {
//         width: 70%;
//     }
// }